<% include partials/header%>
<div class="ui main text container segment" style="padding-bottom:3em;">

    <h1 style="margin-top:3em;text-align:center;" class="ui header block"><%=blogs.title %></h1>
    <img class="ui centered round image" src="<%= blogs.image %>">
    <div class="content">
    <%= blogs.created.toDateString() %>    
    </div>
<div class="description">
<%- blogs.body %>    
</div>
<form action="/blogs/<%= blogs._id %>/edit" method="GET" style="float:left" >
    <button class="ui inverted purple button">EDIT</button>
</form>
<form action="/blogs/<%= blogs._id %>?_method=DELETE" method="POST"  style="float:right;margin-right:29em;">
<button class="ui inverted red button">DELETE</button>
</form>
</div>
<% include partials/footer %>